# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [2]:
# Imports
import pandas as pd
from pathlib import Path
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
from google.colab import files
uploaded = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [4]:
applicant_data_df = pd.read_csv('applicants_data.csv')
# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [6]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [7]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=='object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [9]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [10]:
# Create a DataFrame with the encoded variables
encoded_df = encoded_df = pd.DataFrame(
    encoded_data,
    columns=enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [11]:
non_categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes!='object'].index)
non_categorical_variables

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [12]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[non_categorical_variables], encoded_df], axis=1)

# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [13]:
encoded_df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_T10',
       'APPLICATION_TYPE_T12', 'APPLICATION_TYPE_T13', 'APPLICATION_TYPE_T14',
       'APPLICATION_TYPE_T15', 'APPLICATION_TYPE_T17', 'APPLICATION_TYPE_T19',
       ...
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object', length=117)

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [14]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [15]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [16]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [17]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [18]:
# Define the the number of inputs (features) to the model
number_input_features = X.shape[1]

# Review the number of features
number_input_features

116

In [19]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [20]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = np.ceil(np.sqrt(number_input_features * number_output_neurons))


# Review the number hidden nodes in the first layer
hidden_nodes_layer1

11.0

In [21]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  np.ceil(np.sqrt(hidden_nodes_layer1 * number_output_neurons))

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

4.0

In [22]:
# Create the Sequential model instance
nn = Sequential()

In [23]:
# Add the first hidden layer
nn.add(
    Dense(
        units=hidden_nodes_layer1,
        activation='relu',
        input_dim=number_input_features
    )
)

In [24]:
# Add the second hidden layer
nn.add(
    Dense(
        units=hidden_nodes_layer2,
        activation='relu'
    )
)

In [25]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(
    Dense(
        units=1,
        activation='sigmoid'
    )
)

In [26]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 11)                1287

 dense_1 (Dense)             (None, 4)                 48

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 1,340
Trainable params: 1,340
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [27]:
# Compile the Sequential model
nn.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [28]:
# Fit the model using 50 epochs and the training data
nn_model=nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6044 - accuracy: 0.6831
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5655 - accuracy: 0.7217
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7252
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5551 - accuracy: 0.7255
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7261
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5531 - accuracy: 0.7260
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5520 - accuracy: 0.7282
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - accuracy: 0.7273
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7283
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5506 - accuracy: 0.7285
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7275
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5498 - accuracy: 0.7281
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - accuracy: 0.7285
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7296
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5489 - accuracy: 0.7297
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7292
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7297
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7296
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7301
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7292
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5479 - accuracy: 0.7290
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7310
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5475 - accuracy: 0.7300
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7303
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7304
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7313
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7311
Epoch 28/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5467 - accuracy: 0.7316
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7313
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7310
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7313
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7310
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7311
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7315
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7323
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7314
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7325
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7334
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7322
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7322
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7322
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7324
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7322
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7328
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7317
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - accuracy: 0.7322
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7327
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7316
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7322
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7332

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [30]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5399 - accuracy: 0.7378 - 361ms/epoch - 1ms/step
Loss: 0.5398750901222229, Accuracy: 0.7378425598144531

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [31]:
# Set the model's file path
file_path = Path('/Users/tarang/JUPYTER LAB/Unit 13 - Venture Funding with Deep Learning/Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [32]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [33]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = (number_input_features+1)//3

In [35]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features+1)//3

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

39

In [36]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [37]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A1.add(Dense(units=number_output_neurons, activation="sigmoid"))



# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 39)                4563

 dense_4 (Dense)             (None, 1)                 40

=================================================================
Total params: 4,603
Trainable params: 4,603
Non-trainable params: 0
_________________________________________________________________

In [38]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [39]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5887 - accuracy: 0.7148
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5627 - accuracy: 0.7250
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5581 - accuracy: 0.7276
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5556 - accuracy: 0.7267
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5544 - accuracy: 0.7269
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5537 - accuracy: 0.7277
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7279
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5518 - accuracy: 0.7287
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7290
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7277
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5501 - accuracy: 0.7306
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7296
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5495 - accuracy: 0.7289
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7295
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7301
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7310
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7294
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7302
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7299
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7304
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7294
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7311
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7307
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7310
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7298
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7324
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7299
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7311
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7329
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7318
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7318
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7310
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7318
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7320
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7312
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7320
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7321
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7322
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7313
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7315
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7324
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7318
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7325
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7319
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7329
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7325
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7327
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7325
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7332
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7328

#### Alternative Model 2

In [40]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [41]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [42]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features+1)//2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [43]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [44]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(Dense(units=number_output_neurons, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 11)                1287

 dense_6 (Dense)             (None, 4)                 48

=================================================================
Total params: 1,335
Trainable params: 1,335
Non-trainable params: 0
_________________________________________________________________

In [45]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [46]:
# Fit the model
model_2=  nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 4ms/step - loss: 3.5199 - accuracy: 0.3602
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 1.7048 - accuracy: 0.2243
Epoch 3/50
804/804 [==============================] - 4s 5ms/step - loss: 1.1137 - accuracy: 0.1807
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.9864 - accuracy: 0.3199
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9388 - accuracy: 0.3190
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.9012 - accuracy: 0.2431
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8856 - accuracy: 0.2794
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8492 - accuracy: 0.3418
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8157 - accuracy: 0.2725
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8031 - accuracy: 0.2708
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7776 - accuracy: 0.2091
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7831 - accuracy: 0.2627
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7786 - accuracy: 0.2840
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7518 - accuracy: 0.1634
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7470 - accuracy: 0.2137
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7344 - accuracy: 0.2337
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7197 - accuracy: 0.2591
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.7020 - accuracy: 0.2984
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6903 - accuracy: 0.2147
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6790 - accuracy: 0.2182
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6699 - accuracy: 0.3049
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6679 - accuracy: 0.3256
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6713 - accuracy: 0.3041
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6715 - accuracy: 0.2427
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6606 - accuracy: 0.2457
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6589 - accuracy: 0.2365
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6490 - accuracy: 0.2900
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6426 - accuracy: 0.3408
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6390 - accuracy: 0.2879
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6345 - accuracy: 0.3000
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6305 - accuracy: 0.3836
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6281 - accuracy: 0.3194
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6397 - accuracy: 0.2122
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6332 - accuracy: 0.2393
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6369 - accuracy: 0.2367
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6337 - accuracy: 0.2886
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6395 - accuracy: 0.2024
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6328 - accuracy: 0.2239
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6303 - accuracy: 0.2341
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6303 - accuracy: 0.2868
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6304 - accuracy: 0.2689
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6183 - accuracy: 0.2115
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6156 - accuracy: 0.2834
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6162 - accuracy: 0.2433
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6187 - accuracy: 0.2064
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6118 - accuracy: 0.3066
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6104 - accuracy: 0.3893
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6106 - accuracy: 0.4051
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6021 - accuracy: 0.3037
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5990 - accuracy: 0.3245

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [49]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.5399 - accuracy: 0.7378 - 624ms/epoch - 2ms/step
Loss: 0.5398750901222229, Accuracy: 0.7378425598144531

In [50]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5573 - accuracy: 0.7334 - 433ms/epoch - 2ms/step
Loss: 0.557307779788971, Accuracy: 0.7334110736846924

In [52]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5888 - accuracy: 0.4519 - 444ms/epoch - 2ms/step
Loss: 0.5888276100158691, Accuracy: 0.4518950581550598

### Step 3: Save each of your alternative models as an HDF5 file.

In [53]:
# Set the file path for the first alternative model
file_path = Path('/Users/tarang/JUPYTER LAB/Unit 13 - Venture Funding with Deep Learning/Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path)

In [54]:
# Set the file path for the second alternative model
file_path = Path('/Users/tarang/JUPYTER LAB/Unit 13 - Venture Funding with Deep Learning/Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path)